
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    
    <meta name="viewport" content="width=device-width"/>
    <title>Index</title>
   
</head>
<body>
    <h1>Welcome to book store application</h1>
    <h1>@DateTime.Now.ToString("dd-MM-yyyy")</h1> @*single line syntax*@

    <h1>Sum = @(3+5) </h1>


    @*Multi line syntax*@

    @{ 
        int a = 20;
        int b = 20;
        int c = a+b;
    }  
       <h1>@c</h1>

    <p>This is the home page</p>
</body>
</html>