
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    
    <meta name="viewport" content="width=device-width"/>
    <title>Index</title>
   
</head>
<body>
    <h1>Welcome to book store application</h1>
    <p>This is the home page</p>

    @if (true)
    {
        <h1>Hello from if Block</h1>
    }

    @{ 

        int a = 10;
        int b = 0;
    }
<h1>Ternary: @(a==1?b=8:b=5) </h1>

<h1>Value of b=@b</h1>
</body>
</html>