
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>

    <meta name="viewport" content="width=device-width" />
    <title>GetAllBooks</title>

</head>
<body>
    <h1>All book list</h1>
    <p>This is the GetAllBook page</p>
    <button>Click Me</button>
</body>
</html>